---
# remove SmartGateway object when cloud no longer in current `clouds` object list.
clouds_remove_on_missing: false

servicetelemetry_defaults:
  high_availability:
    enabled: false

  alerting:
    enabled: true
    alertmanager:
      deployment_size: 1
      storage:
        strategy: persistent
        persistent:
          storage_class: ""
          storage_selector: {}
          pvc_storage_request: 20G
      receivers:
        snmp_traps:
          enabled: false
          target: 192.168.24.254

  backends:
    metrics:
      prometheus:
        enabled: true
        deployment_size: 1
        scrape_interval: 10s
        storage:
          strategy: persistent
          retention: 24h
          persistent:
            storage_class: ""
            storage_selector: {}
            pvc_storage_request: 20G
    events:
      elasticsearch:
        enabled: false
        node_count: 1
        storage:
          strategy: persistent
          persistent:
            storage_class: ""
            storage_selector: {}
            pvc_storage_request: 20Gi
    logs:
      loki:
        enabled: false
        replication_factor: 1
        flavor: 1x.extra-small
        storage:
          object_storage_secret: ""
          storage_class: ""
        compactor:
          replicas: ""
        distributor:
          replicas: ""
        ingester:
          replicas: ""
        querier:
          replicas: ""
        query_frontend:
          replicas: ""

  transports:
    qdr:
      enabled: true
      deployment_size: 1
      web:
        enabled: false

  graphing:
    enabled: false
    grafana:
      ingress_enabled: false
      admin_password: secret
      admin_user: root
      disable_signout_menu: false
      base_image: docker.io/grafana/grafana:8.1.2

  # 'clouds' object is not partially updatable like other objects. If 'clouds'
  # object is defined then the default is overwritten.
  clouds:
    - name: cloud1
      metrics:
        collectors:
          - collector_type: collectd
            subscription_address: collectd/telemetry
            debug_enabled: false
          - collector_type: ceilometer
            subscription_address: anycast/ceilometer/metering.sample
            debug_enabled: false
          - collector_type: sensubility
            subscription_address: sensubility/telemetry
            debug_enabled: false
      events:
        collectors:
          - collector_type: collectd
            subscription_address: collectd/notify
            debug_enabled: false
          - collector_type: ceilometer
            subscription_address: anycast/ceilometer/event.sample
            debug_enabled: false
      logs:
        collectors:
          - collector_type: rsyslog
            subscription_address: rsyslog/logs
            debug_enabled: false


# These variables are outside of the defaults. Their values will be
# auto-detected by the role and are not meant to be set by the user. However,
# for debugging purposes you can change these.

is_k8s: false
is_openshift: false

# *****CS - Need help with the best thing to do here.
# - Is specifying an image here sufficient or does it need downstream build automation vars?
# - I'd prefer NOT to make this an STF option, it should ideally just always reference the local registry image

# - THIS IS THE IMAGE LINE I MOST WANT TO USE, however there is no 'latest' tag for this image
# oauth_proxy_image: image-registry.openshift-image-registry.svc:5000/openshift/oauth-proxy:latest

# - This line works on OCP 4.7 (v4.4 tag instead of 'latest' as I'd prefer above)
# oauth_proxy_image: image-registry.openshift-image-registry.svc:5000/openshift/oauth-proxy:v4.4

# - Downstream, this one works, but there is a big red "Red Hat strongly recommends updating to the newest image version..." (4.9) which doesn't work
# - See https://github.com/openshift/oauth-proxy/issues/229 for why 4.9 isn't working for us
# oauth_proxy_image: registry.redhat.io/openshift4/ose-oauth-proxy:v4.8

# - This image works (probably upstream and down!), but is pinned back to the version we're strongly recommended not to use:
oauth_proxy_image: quay.io/openshift/origin-oauth-proxy:4.8

# - Finally, for reference this is the image line I see in openshift-monitoring for the equivalent image:
# oauth_proxy_image: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:ca37f5fc57643a353dcdcd6ad3a7bc8bb40fd4276a555fe5de2b8c7167d64020
# *****

_ephemeral_storage_enabled: false

# set default smartgateway deployment size. You should not modify this.
smartgateway_deployment_size: 1
# vim: set ft=yaml shiftwidth=2 tabstop=2 expandtab:
