---
# --- top level configuration items that don't live in the servicetelemetry_vars map
#
# remove SmartGateway object when cloud no longer in current `clouds` object list.
clouds_remove_on_missing: false
observability_strategy: use_redhat

servicetelemetry_defaults:
  high_availability:
    enabled: false

  alerting:
    enabled: true
    alertmanager:
      deployment_size: 1
      storage:
        strategy: persistent
        persistent:
          storage_class: ""
          pvc_storage_request: 20G
      receivers:
        snmp_traps:
          enabled: false
          community: public
          target: 192.168.24.254
          retries: 5
          timeout: 1
          port: 162
          alert_oid_label: "oid"
          trap_oid_prefix: "1.3.6.1.4.1.50495.15"
          trap_default_oid: "1.3.6.1.4.1.50495.15.1.2.1"
          trap_default_severity: ""

  backends:
    metrics:
      prometheus:
        enabled: true
        deployment_size: 1
        scrape_interval: 10s
        storage:
          strategy: persistent
          retention: 24h
          persistent:
            storage_class: ""
            pvc_storage_request: 20G
    events:
      elasticsearch:
        enabled: false
        ext_host_url: https://elasticsearch-es-http:9200
        ext_tls_server_name: ""
        ext_tls_secret_name: elasticsearch-es-cert
        ext_user_secret_name: elasticsearch-es-elastic-user
        ext_use_basic_auth: true
        ext_use_tls: true
        version: 7.16.1
        node_count: 1
        storage:
          strategy: persistent
          persistent:
            storage_class: ""
            pvc_storage_request: 20Gi
        certificates:
          endpoint_cert_duration: 70080h
          ca_cert_duration: 70080h
    logs:
      loki:
        enabled: false
        replication_factor: 1
        flavor: 1x.extra-small
        storage:
          object_storage_secret: ""
          storage_class: ""
        compactor:
          replicas: ""
        distributor:
          replicas: ""
        ingester:
          replicas: ""
        querier:
          replicas: ""
        query_frontend:
          replicas: ""

  transports:
    qdr:
      enabled: true
      deployment_size: 1
      web:
        enabled: false
      certificates:
        endpoint_cert_duration: 70080h
        ca_cert_duration: 70080h

  graphing:
    enabled: false
    grafana:
      ingress_enabled: false
      admin_password: secret
      admin_user: root
      disable_signout_menu: false
      base_image: docker.io/grafana/grafana:8.1.2

  # 'clouds' object is not partially updatable like other objects. If 'clouds'
  # object is defined then the default is overwritten.

  # NOTE: if you reference any of these parameters in your templates, then be
  # sure to define a `| default(...)` for the parameter in case `clouds`
  # structure is not fully populated.
  clouds:
    - name: cloud1
      metrics:
        collectors:
          - collector_type: collectd
            subscription_address: collectd/cloud1-telemetry
            debug_enabled: false
            bridge:
              ring_buffer_size: 16384
              ring_buffer_count: 15000
              verbose: false
          - collector_type: ceilometer
            subscription_address: anycast/ceilometer/cloud1-metering.sample
            debug_enabled: false
            bridge:
              ring_buffer_size: 16384
              ring_buffer_count: 15000
              verbose: false
          - collector_type: sensubility
            subscription_address: sensubility/cloud1-telemetry
            debug_enabled: false
            bridge:
              ring_buffer_size: 16384
              ring_buffer_count: 15000
              verbose: false
      events:
        collectors:
          - collector_type: collectd
            subscription_address: collectd/cloud1-notify
            debug_enabled: false
            bridge:
              ring_buffer_size: 16384
              ring_buffer_count: 15000
              verbose: false
          - collector_type: ceilometer
            subscription_address: anycast/ceilometer/cloud1-event.sample
            debug_enabled: false
            bridge:
              ring_buffer_size: 16384
              ring_buffer_count: 15000
              verbose: false
      logs:
        collectors:
          - collector_type: rsyslog
            subscription_address: rsyslog/cloud1-logs
            debug_enabled: false
            bridge:
              ring_buffer_size: 135048
              ring_buffer_count: 15000
              verbose: false


# These variables are outside of the defaults. Their values will be
# auto-detected by the role and are not meant to be set by the user. However,
# for debugging purposes you can change these.

is_k8s: false
is_openshift: false

_ephemeral_storage_enabled: false

# set default smartgateway deployment size. You should not modify this.
smartgateway_deployment_size: 1
# vim: set ft=yaml shiftwidth=2 tabstop=2 expandtab:
