apiVersion: batch/v1
kind: Job
metadata:
  name: stf-perftest-notify
spec:
  parallelism: 1
  completions: 1
spec:
  template:
    metadata:
      labels:
        app: stf-performance-test
    spec:
      restartPolicy: Never
      containers:
      - name: stf-perftest-notify
        image: tripleomaster/centos-binary-collectd:current-tripleo-rdo
        command: 
        - /entrypoint.sh
        volumeMounts:
        - name: entrypoint
          mountPath: /entrypoint.sh
          subPath: entrypoint.sh
        - name: collectd-config
          mountPath: /tmp/minimal-collectd.conf
          subPath: minimal-collectd.conf
      volumes:
      - name: entrypoint
        configMap:
          name: stf-performance-test-events-entry
          defaultMode: 0777
      - name: collectd-config
        configMap:
          name: stf-performance-test-collectd-config

