apiVersion: infra.watch/v1beta1
kind: ServiceTelemetry
metadata:
  name: default
spec:
  observabilityStrategy: use_redhat
  alerting:
    enabled: true
    alertmanager:
      receivers:
        snmpTraps:
          enabled: false
          community: public
          target: 192.168.24.254
          retries: 5
          port: 162
          timeout: 1
          alertOidLabel: oid
          trapOidPrefix: "1.3.6.1.4.1.50495.15"
          trapDefaultOid: "1.3.6.1.4.1.50495.15.1.2.1"
          trapDefaultSeverity: ""
      storage:
        strategy: persistent
        persistent:
          pvcStorageRequest: 20G
  backends:
    metrics:
      prometheus:
        enabled: true
        scrapeInterval: 30s
        storage:
          strategy: persistent
          retention: 24h
          persistent:
            pvcStorageRequest: 20G
    events:
      elasticsearch:
        enabled: false
        forwarding:
          hostUrl: https://elasticsearch-es-http:9200
          tlsServerName: ""
          tlsSecretName: elasticsearch-es-cert
          userSecretName: elasticsearch-es-elastic-user
          useBasicAuth: true
          useTls: true
        version: 7.16.1
        storage:
          strategy: persistent
          persistent:
            pvcStorageRequest: 20Gi
        certificates:
          endpointCertDuration: 70080h
          caCertDuration: 70080h
  clouds:
    - name: cloud1
      metrics:
        collectors:
          - collectorType: collectd
            subscriptionAddress: collectd/cloud1-telemetry
            debugEnabled: false
            bridge:
              ringBufferSize: 16384
              ringBufferCount: 15000
              verbose: false
          - collectorType: ceilometer
            subscriptionAddress: anycast/ceilometer/cloud1-metering.sample
            debugEnabled: false
            bridge:
              ringBufferSize: 16384
              ringBufferCount: 15000
              verbose: false
          - collectorType: sensubility
            subscriptionAddress: sensubility/cloud1-telemetry
            debugEnabled: false
            bridge:
              ringBufferSize: 65535
              ringBufferCount: 15000
              verbose: false
  graphing:
    enabled: false
    grafana:
      ingressEnabled: true
      disableSignoutMenu: false
      dashboards:
        enabled: true
  transports:
    qdr:
      enabled: true
      auth: basic
      web:
        enabled: false
      certificates:
        endpointCertDuration: 70080h
        caCertDuration: 70080h
  highAvailability:
    enabled: false
# vim: set ft=yaml shiftwidth=2 tabstop=2 expandtab:
