apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-telemetry-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: service-telemetry-operator
  template:
    metadata:
      labels:
        name: service-telemetry-operator
    spec:
      serviceAccountName: service-telemetry-operator
      containers:
        - name: operator
          image: <<OPERATOR_IMAGE>>:<<OPERATOR_TAG>>
          imagePullPolicy: Always
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "service-telemetry-operator"
            - name: ANSIBLE_GATHERING
              value: explicit
            - name: RELATED_IMAGE_PROMETHEUS_WEBHOOK_SNMP_IMAGE
              value: <<RELATED_IMAGE_PROMETHEUS_WEBHOOK_SNMP>>:<<RELATED_IMAGE_PROMETHEUS_WEBHOOK_SNMP_TAG>>
      volumes:
        - name: runner
          emptyDir: {}
