apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-telemetry-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: service-telemetry-operator
  template:
    metadata:
      labels:
        name: service-telemetry-operator
    spec:
      serviceAccountName: service-telemetry-operator
      containers:
        - name: ansible
          command:
          - /usr/local/bin/ao-logs
          - /tmp/ansible-operator/runner
          - stdout
          image: quay.io/infrawatch/service-telemetry-operator:v1.0.0-beta1
          imagePullPolicy: Always
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
            readOnly: true
        - name: operator
          image: quay.io/infrawatch/service-telemetry-operator:v1.0.0-beta1
          imagePullPolicy: Always
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "service-telemetry-operator"
            - name: ANSIBLE_GATHERING
              value: explicit
      volumes:
        - name: runner
          emptyDir: {}
