---
tripleo_heat_templates:
    []

custom_templates:
    resource_registry:
        OS::TripleO::Services::CeilometerAgentCentral: /usr/share/openstack-tripleo-heat-templates/deployment/ceilometer/ceilometer-agent-central-container-puppet.yaml
        OS::TripleO::Services::CeilometerAgentIpmi: /usr/share/openstack-tripleo-heat-templates/deployment/ceilometer/ceilometer-agent-ipmi-container-puppet.yaml
        OS::TripleO::Services::CeilometerAgentNotification: /usr/share/openstack-tripleo-heat-templates/deployment/ceilometer/ceilometer-agent-notification-container-puppet.yaml
        OS::TripleO::Services::Collectd: /usr/share/openstack-tripleo-heat-templates/deployment/metrics/collectd-container-puppet.yaml
        OS::TripleO::Services::ComputeCeilometerAgent: /usr/share/openstack-tripleo-heat-templates/deployment/ceilometer/ceilometer-agent-compute-container-puppet.yaml
        OS::TripleO::Services::MetricsQdr: /usr/share/openstack-tripleo-heat-templates/deployment/metrics/qdr-container-puppet.yaml
        OS::TripleO::Services::Redis: /usr/share/openstack-tripleo-heat-templates/deployment/database/redis-pacemaker-puppet.yaml

    parameter_defaults:
        EventPipelinePublishers: []
        MetricPipelinePublishers: []
        CeilometerEnablePanko: false
        CeilometerQdrPublishEvents: true
        CeilometerQdrPublishMetrics: true
        ManagePolling: true
        ManagePipeline: true
        CeilometerQdrEventsConfig:
            driver: amqp
            topic: event
        CeilometerQdrMetricsConfig:
            driver: amqp
            topic: metering

        CollectdEnableSensubility: true
        CollectdSensubilityLogLevel: DEBUG
        CollectdAmqpInstances:
            notify:
                format: JSON
                notify: true
                presettle: false
            telemetry:
                format: JSON
                presettle: false
        CollectdAmqpInterval: 5
        CollectdConnectionType: amqp1
        CollectdDefaultPollingInterval: 5

        EnableSTF: true

        MetricsQdrAddresses:
        -   distribution: multicast
            prefix: collectd
        -   distribution: multicast
            prefix: anycast/ceilometer

        MetricsQdrSSLProfiles:
        -   name: sslProfile

        CephStorageExtraConfig:
            tripleo::profile::base::metrics::collectd::amqp_host: "%{hiera('storage')}"
            tripleo::profile::base::metrics::qdr::listener_addr: "%{hiera('storage')}"

        ExtraConfig:
            collectd::plugin::cpu::reportbycpu: true
            collectd::plugin::vmem::verbose: true

        CollectdExtraPlugins:
        - vmem

        MetricsQdrConnectors:
            - host: <<AMQP_HOST>>
              port: <<AMQP_PORT>>
              role: edge
              verifyHostname: false
              sslProfile: sslProfile
