---
tripleo_heat_templates:
    []

custom_templates:
    # set parameter defaults to match stable-1.3 documentation
    parameter_defaults:
        MetricsQdrConnectors:
            - host: <<AMQP_HOST>>
              port: <<AMQP_PORT>>
              role: edge
              verifyHostname: false
              sslProfile: sslProfile

        MetricsQdrSSLProfiles:
            - name: sslProfile

        CeilometerQdrEventsConfig:
            driver: amqp
            topic: <<CLOUD_NAME>>-event

        CeilometerQdrMetricsConfig:
            driver: amqp
            topic: <<CLOUD_NAME>>-metering

        CollectdAmqpInstances:
            <<CLOUD_NAME>>-notify:
                format: JSON
                notify: true
                presettle: false
            <<CLOUD_NAME>>-telemetry:
                format: JSON
                presettle: false

        CollectdSensubilityResultsChannel: collectd/<<CLOUD_NAME>>-notify

        # --- below here, extended configuration for environment beyond what is documented in stable-1.3
        CollectdSensubilityLogLevel: DEBUG
        CephStorageExtraConfig:
            tripleo::profile::base::metrics::collectd::amqp_host: "%{hiera('storage')}"
            tripleo::profile::base::metrics::qdr::listener_addr: "%{hiera('storage')}"

        ExtraConfig:
            collectd::plugin::ceph::daemons:
               - ceph-osd.0
               - ceph-osd.1
               - ceph-osd.2
               - ceph-osd.3
               - ceph-osd.4
               - ceph-osd.5
               - ceph-osd.6
               - ceph-osd.7
               - ceph-osd.8
               - ceph-osd.9
               - ceph-osd.10
               - ceph-osd.11
               - ceph-osd.12
               - ceph-osd.13
               - ceph-osd.14
