# Build out initial selfsigning issuer
- name: Create selfsigned Issuer
  k8s:
    definition:
      apiVersion: cert-manager.io/v1
      kind: Issuer
      metadata:
        name: '{{ ansible_operator_meta.namespace }}-selfsigned'
        namespace: '{{ ansible_operator_meta.namespace }}'
      spec:
        duration: '{{ certificate_duration }}'
        selfSigned: {}

- name: Create CA certificate
  k8s:
    definition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: '{{ ansible_operator_meta.namespace }}-ca'
        namespace: '{{ ansible_operator_meta.namespace }}'
      spec:
        duration: '{{ servicetelemetry_vars.backends.events.elasticsearch.certificates.ca_cert_duration }}'
        secretName: '{{ ansible_operator_meta.namespace }}-ca'
        commonName: '{{ ansible_operator_meta.namespace }}-ca'
        isCA: true
        issuerRef:
          name: '{{ ansible_operator_meta.namespace }}-selfsigned'

- name: Create namespace CA Issuer
  k8s:
    definition:
      apiVersion: cert-manager.io/v1
      kind: Issuer
      metadata:
        name: '{{ ansible_operator_meta.namespace }}-ca'
        namespace: '{{ ansible_operator_meta.namespace }}'
      spec:
        duration: '{{ certificate_duration }}'
        ca:
          secretName: '{{ ansible_operator_meta.namespace }}-ca'

# Create the ElasticSearch certificate using our new Issuer
- name: Create certificate for elasticsearch
  set_fact:
    elasticsearch_certificate_manifest:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: elasticsearch-es-http
        namespace: '{{ ansible_operator_meta.namespace }}'
      spec:
        duration: '{{ servicetelemetry_vars.backends.events.elasticsearch.certificates.endpoint_cert_duration }}'
        commonName: elasticsearch-es-http
        secretName: 'elasticsearch-es-cert'
        dnsNames:
          - elasticsearch-es-http
          - elasticsearch-es-http.{{ ansible_operator_meta.namespace }}.svc
          - elasticsearch-es-http.{{ ansible_operator_meta.namespace }}.svc.cluster.local
        issuerRef:
          kind: Issuer
          name: '{{ ansible_operator_meta.namespace }}-ca'
  when: elasticsearch_certificate_manifest is not defined

- name: Create certificate for Elasticsearch
  k8s:
    definition:
      '{{ elasticsearch_certificate_manifest }}'
