- name: Append Smart Gateway to list of SGs
  set_fact:
    smartgateway_list: "{{ smartgateway_list }} + [ '{{ this_smartgateway }}' ]"

- name: Deploy instance of Smart Gateway
  k8s:
    definition: "{{ lookup('template', manifest) | from_yaml }}"

- name: Deploy SG-specific ServiceMonitor for metrics SGs
  include_tasks: component_servicemonitor.yml
  when: data_type == 'metrics'
