- name: Lookup ElasticSearch BasicAuth
  k8s_info:
    api_version: v1
    kind: Secret
    namespace: '{{ meta.namespace }}'
    name: 'elasticsearch-es-elastic-user'
  register: elasticsearch_es_elastic_user

- name: Filter out ElasticSearch password for BasicAuth
  set_fact:
    elastic_pass: "{{ elasticsearch_es_elastic_user | json_query('resources[].data.elastic') | b64decode }}"
  no_log: true

- name: Create default Events Smart Gateway manifest
  set_fact:
    smartgateway_events_manifest: |
      apiVersion: smartgateway.infra.watch/v2alpha1
      kind: SmartGateway
      metadata:
        name: '{{ meta.name }}-notification'
        namespace: '{{ meta.namespace }}'
      spec:
        size: 1
        amqpUrl: '{{ meta.name }}-interconnect.{{ meta.namespace }}.svc.cluster.local:5672/collectd/notify'
        serviceType: 'events'
        debug: 'false'
        elasticUrl: 'https://elasticsearch-es-http.{{ meta.namespace }}.svc.cluster.local:9200'
        useBasicAuth: 'true'
        elasticUser: '{{ elastic_user }}'
        elasticPass: '{{ elastic_pass }}'
        containerImagePath: 'quay.io/infrawatch/smart-gateway:latest'
        useTls: 'true'
        tlsClientCert: /config/certs/tls.crt
        tlsClientKey: /config/certs/tls.key
        tlsCaCert: /config/certs/ca.crt
        tlsServerName: 'elasticsearch-es-http.{{ meta.namespace }}.svc.cluster.local'
        resetIndex: 'false'
  when: smartgateway_events_manifest is not defined

- name: Deploy instance of Smart Gateway for Events
  k8s:
    definition:
      '{{ smartgateway_events_manifest }}'
