---
- block:
  - name: Create self-signed interconnect issuer
    k8s:
      state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
      definition:
        apiVersion: cert-manager.io/v1
        kind: Issuer
        metadata:
          name: "{{ meta.name }}-interconnect-selfsigned"
          namespace: "{{ meta.namespace }}"
        spec:
          selfSigned: {}

  - name: Create self-signed interconnect certificate
    k8s:
      state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
      definition:
        apiVersion: cert-manager.io/v1
        kind: Certificate
        metadata:
          name: "{{ meta.name }}-interconnect-selfsigned"
          namespace: "{{ meta.namespace }}"
        spec:
          commonName: "{{ meta.name }}-interconnect.{{ meta.namespace }}.svc.cluster.local"
          isCA: true
          issuerRef:
            name: "{{ meta.name }}-interconnect-selfsigned"
          secretName: "{{ meta.name }}-interconnect-selfsigned"


  - name: Create default CA interconnect issuer using self-signed interconnect certificate
    k8s:
      state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
      definition:
        apiVersion: cert-manager.io/v1
        kind: Issuer
        metadata:
          name: "{{ meta.name }}-interconnect-ca"
          namespace: "{{ meta.namespace }}"
        spec:
          ca:
            secretName: "{{ meta.name }}-interconnect-selfsigned"

  - name: Create OpenStack CA certificate using self-signed interconnect certificate
    k8s:
      state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
      definition:
        apiVersion: cert-manager.io/v1
        kind: Certificate
        metadata:
          name: "{{ meta.name }}-interconnect-openstack-ca"
          namespace: "{{ meta.namespace }}"
        spec:
          commonName: "{{ meta.name }}-interconnect-openstack-ca"
          isCA: true
          issuerRef:
            name: "{{ meta.name }}-interconnect-selfsigned"
          secretName: "{{ meta.name }}-interconnect-openstack-ca"

  - name: Create OpenStack credentials certificate using self-signed interconnect certificate
    k8s:
      state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
      definition:
        apiVersion: cert-manager.io/v1
        kind: Certificate
        metadata:
          name: "{{ meta.name }}-interconnect-openstack-credentials"
          namespace: "{{ meta.namespace }}"
        spec:
          commonName: "{{ meta.name }}-interconnect"
          dnsNames:
            - "{{ meta.name }}-interconnect.{{ meta.namespace }}.svc.cluster.local"
          issuerRef:
            name: "{{ meta.name }}-interconnect-ca"
          secretName: "{{ meta.name }}-interconnect-openstack-credentials"

  - name: Create inter-router CA issuer
    k8s:
      state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
      definition:
        apiVersion: cert-manager.io/v1
        kind: Issuer
        metadata:
          name: "{{ meta.name }}-interconnect-inter-router-ca"
          namespace: "{{ meta.namespace }}"
        spec:
          ca:
            secretName: "{{ meta.name }}-interconnect-inter-router-ca"

  - name: Create inter-router CA certificate
    k8s:
      state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
      definition:
        apiVersion: cert-manager.io/v1
        kind: Certificate
        metadata:
          name: "{{ meta.name }}-interconnect-inter-router-ca"
          namespace: "{{ meta.namespace }}"
        spec:
          commonName: "{{ meta.name }}-interconnect-inter-router-ca"
          isCA: true
          issuerRef:
            name: "{{ meta.name }}-interconnect-selfsigned"
          secretName: "{{ meta.name }}-interconnect-inter-router-ca"

  - name: Create inter-router credentials certificate
    k8s:
      state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
      definition:
        apiVersion: cert-manager.io/v1
        kind: Certificate
        metadata:
          name: "{{ meta.name }}-interconnect-inter-router-credentials"
          namespace: "{{ meta.namespace }}"
        spec:
          commonName: "{{ meta.name }}-interconnect"
          dnsNames:
            - "{{ meta.name }}-interconnect.{{ meta.namespace }}.svc.cluster.local"
          issuerRef:
            name: "{{ meta.name }}-interconnect-inter-router-ca"
          secretName: "{{ meta.name }}-interconnect-inter-router-credentials"
  when: interconnect_manifest is not defined

- name: Create Interconnect SASL ConfigMap
  k8s:
    state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
    definition:
      kind: ConfigMap
      apiVersion: v1
      metadata:
        name: "{{ meta.name }}-interconnect-sasl-config"
        namespace: "{{ meta.namespace }}"
        labels:
          application: "{{ meta.name }}-interconnect"
          interconnect_cr: "{{ meta.name }}-interconnect"
      data:
        qdrouterd.conf: |
          pwcheck_method: auxprop
          auxprop_plugin: sasldb
          sasldb_path: /tmp/qdrouterd.sasldb
  when: interconnect_manifest is not defined


- name: Set default Interconnect manifest
  set_fact:
    interconnect_manifest: |
      apiVersion: interconnectedcloud.github.io/v1alpha1
      kind: Interconnect
      metadata:
        name: '{{ meta.name }}-interconnect'
        namespace: '{{ meta.namespace }}'
      spec:
        deploymentPlan:
          size: {{ servicetelemetry_vars.transports.qdr.deployment_size }}
          role: interior
          livenessPort: 8888
          placement: AntiAffinity
        addresses:
          - distribution: closest
            prefix: closest
          - distribution: multicast
            prefix: multicast
          - distribution: closest
            prefix: unicast
          - distribution: closest
            prefix: exclusive
          - distribution: multicast
            prefix: broadcast
          - distribution: multicast
            prefix: collectd
          - distribution: multicast
            prefix: ceilometer
        edgeListeners:
          - expose: true
            host: 0.0.0.0
            port: 5671
            saslMechanisms: ANONYMOUS
            sslProfile: openstack
          - port: 5673
            linkCapacity: 25000
        interRouterListeners:
          - authenticatePeer: true
            expose: false
            port: 55671
            saslMechanisms: EXTERNAL
            sslProfile: inter-router
        listeners:
          - port: 5672
          - expose: {{ servicetelemetry_vars.transports.qdr.web.enabled }}
            http: true
            port: 8672
        sslProfiles:
          - caCert: {{ meta.name }}-interconnect-openstack-ca
            credentials: {{ meta.name }}-interconnect-openstack-credentials
            generateCaCert: true
            generateCredentials: true
            name: openstack
          - caCert: {{ meta.name }}-interconnect-inter-router-ca
            credentials: {{ meta.name }}-interconnect-inter-router-credentials
            generateCaCert: false
            generateCredentials: false
            mutualAuth: true
            name: inter-router
  when: interconnect_manifest is not defined

- name: Create QDR instance
  k8s:
    state: '{{ "present" if servicetelemetry_vars.transports.qdr.enabled else "absent" }}'
    definition:
      '{{ interconnect_manifest }}'
