- name: Lookup template
  debug:
    msg: "{{ lookup('template', './manifest_prometheus.j2') | from_yaml }}"

- name: Set default Prometheus manifest
  set_fact:
    prometheus_manifest: "{{ lookup('template', './manifest_prometheus.j2') | from_yaml }}"
  when: prometheus_manifest is not defined

- name: Create an instance of Prometheus
  k8s:
    merge_type: merge
    definition:
      '{{ prometheus_manifest }}'

# TODO: Create route to access Prometheus (conditional, default off)
