apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    prometheus: '{{ meta.name }}'
  name: '{{ meta.name }}'
  namespace: '{{ meta.namespace }}'
spec:
  replicas: {{ prometheus_deployment_size }}
  ruleSelector: {}
  securityContext: {}
  serviceAccountName: prometheus-k8s
  serviceMonitorSelector:
    matchLabels:
      app: smart-gateway
  alerting:
    alertmanagers:
    - name: alertmanager-operated
      namespace: '{{ meta.namespace }}'
      port: web
{% if not storage_ephemeral_enabled %}
  storage:
    class: {{ prometheus_storage_class }}
    resources: {{ prometheus_storage_resources }}
    selector: {{ prometheus_storage_selector }}
    volumeClaimTemplate:
      spec:
        resources:
          requests:
            storage: {{ prometheus_pvc_storage_request }}
{% endif %}
