apiVersion: v1
kind: Service
metadata:
  name: '{{ meta.name }}-alertmanager-proxy'
  namespace: '{{ meta.namespace }}'
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ meta.name }}-alertmanager-proxy-tls
spec:
  ports:
  - name: web
    port: 9095
    targetPort: https
  selector:
    alertmanager: '{{ meta.name }}'
