apiVersion: elasticsearch.k8s.elastic.co/v1beta1
kind: Elasticsearch
metadata:
  name: elasticsearch
  namespace: '{{ meta.namespace }}'
spec:
  version: 7.5.1
  http:
    tls:
      certificate:
        secretName: 'elasticsearch-es-cert'
  nodeSets:
    - config:
        node.data: true
        node.ingest: true
        node.master: true
        node.store.allow_mmap: true
      count: {{ servicetelemetry_vars.backends.events.elasticsearch.node_count }}
      name: default
      podTemplate:
        metadata:
          labels:
            tuned.openshift.io/elasticsearch: elasticsearch
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  cpu: '2'
                  memory: 4Gi
                requests:
                  cpu: '1'
                  memory: 4Gi
{% if servicetelemetry_vars.backends.events.elasticsearch.storage.strategy == "ephemeral" %}
          volumes:
            - emptyDir: {}
              name: elasticsearch-data
{% endif %}
{% if servicetelemetry_vars.backends.events.elasticsearch.storage.strategy == "persistent" %}
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: {{ servicetelemetry_vars.backends.events.elasticsearch.storage.persistent.pvc_storage_request }}
            selector: {{ servicetelemetry_vars.backends.events.elasticsearch.storage.persistent.storage_selector }}
            storageClassName: {{ servicetelemetry_vars.backends.events.elasticsearch.storage.persistent.storage_class }}
{% endif %}
