apiVersion: smartgateway.infra.watch/v2alpha1
kind: SmartGateway
metadata:
  name: '{{ meta.name }}-{{ agent.name|lower }}-notification'
  namespace: '{{ meta.namespace }}'
spec:
  size: {{smartgateway_deployment_size}}
  amqpUrl: '{{ meta.name }}-interconnect.{{ meta.namespace }}.svc.cluster.local:5672/{{ agent.channel }}'
  amqpDataSource: '{{ agent.name|lower }}'
  serviceType: 'events'
  debug: false
  elasticUrl: 'https://elasticsearch-es-http.{{ meta.namespace }}.svc.cluster.local:9200'
  useBasicAuth: true
  elasticUser: '{{ elastic_user }}'
  elasticPass: '{{ elastic_pass }}'
  useTls: true
  tlsClientCert: /config/certs/tls.crt
  tlsClientKey: /config/certs/tls.key
  tlsCaCert: /config/certs/ca.crt
  tlsServerName: 'elasticsearch-es-http.{{ meta.namespace }}.svc.cluster.local'
  resetIndex: false
