apiVersion: {{ prometheus_operator_api_string }}
kind: Alertmanager
metadata:
  labels:
    alertmanager: '{{ ansible_operator_meta.name }}'
    {{ prometheus_operator_label }}
  name: '{{ ansible_operator_meta.name }}'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
{% if observability_strategy != "use_community" %}
  image: {{ alertmanager_image_path }}
{% endif %}
  replicas: {{ servicetelemetry_vars.alerting.alertmanager.deployment_size }}
  serviceAccountName: alertmanager-stf
  serviceMonitorSelector:
    matchLabels:
      app: smart-gateway
  listenLocal: true
  podMetadata:
    labels:
      alertmanager: '{{ ansible_operator_meta.name }}'
  containers:
  - name: oauth-proxy
    image: {{ oauth_proxy_image }}
    args:
    - -https-address=:9095
    - -tls-cert=/etc/tls/private/tls.crt
    - -tls-key=/etc/tls/private/tls.key
    - -upstream=http://localhost:9093/
    - -cookie-secret-file=/etc/proxy/secrets/session_secret
    - -openshift-service-account=alertmanager-stf
    - '-openshift-sar={"namespace":"{{ ansible_operator_meta.namespace }}", "resource": "alertmanagers", "resourceAPIGroup":"{{ prometheus_operator_api_string | replace("/v1","") }}", "verb":"get"}'
    - '-openshift-delegate-urls={"/": {"namespace":"{{ ansible_operator_meta.namespace }}", "resource": "alertmanagers", "group":"{{ prometheus_operator_api_string | replace("/v1","") }}", "verb":"get"}}'
    ports:
      - containerPort: 9095
        name: https
        protocol: TCP
    volumeMounts:
      - mountPath: /etc/tls/private
        name: secret-{{ ansible_operator_meta.name }}-alertmanager-proxy-tls
      - mountPath: /etc/proxy/secrets
        name: secret-{{ ansible_operator_meta.name }}-session-secret
  secrets:
    - '{{ ansible_operator_meta.name }}-alertmanager-proxy-tls'
    - '{{ ansible_operator_meta.name }}-session-secret'
{% if servicetelemetry_vars.alerting.alertmanager.storage.strategy == "persistent" %}
  storage:
    volumeClaimTemplate:
      spec:
        resources:
          requests:
            storage: {{ servicetelemetry_vars.alerting.alertmanager.storage.persistent.pvc_storage_request }}
{% if servicetelemetry_vars.alerting.alertmanager.storage.persistent.storage_selector is defined %}
        selector: {{ servicetelemetry_vars.alerting.alertmanager.storage.persistent.storage_selector }}
{% endif %}
{% if servicetelemetry_vars.alerting.alertmanager.storage.persistent.storage_class | length %}
        storageClassName: {{ servicetelemetry_vars.alerting.alertmanager.storage.persistent.storage_class }}
{% endif %}
{% endif %}
