apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
  name: {{ meta.name }}
  namespace: {{ meta.namespace }}
spec:
  ingress:
    enabled: {{ servicetelemetry_vars.graphing.grafana.ingress_enabled }}
  config:
    auth:
      disable_signout_menu: {{ servicetelemetry_vars.graphing.grafana.disable_signout_menu }}
    auth.anonymous:
      enabled: {{ servicetelemetry_vars.graphing.grafana.auth_anonymous }}
    log:
      level: warn
      mode: console
    security:
      admin_password: {{ servicetelemetry_vars.graphing.grafana.admin_password }}
      admin_user: {{ servicetelemetry_vars.graphing.grafana.admin_user }}
  dashboardLabelSelector:
    - matchExpressions:
        - key: app
          operator: In
          values:
            - grafana
