apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: {{ meta.name }}-ds-prometheus
  namespace: {{ meta.namespace }}
spec:
  datasources:
    - access: proxy
      editable: true
      isDefault: true
      jsonData:
        timeInterval: 5s
      name: STFPrometheus
      type: prometheus
      url: 'http://prometheus-operated:9090'
      version: 1
  name: {{ meta.name }}-ds-prometheus.yaml
