apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ ansible_operator_meta.name }}-snmp-webhook'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  selector:
    matchLabels:
      app: '{{ ansible_operator_meta.name }}-snmp-webhook'
  replicas: 1
  template:
    metadata:
      labels:
        app: '{{ ansible_operator_meta.name }}-snmp-webhook'
    spec:
      containers:
        - name: 'prometheus-webhook-snmp'
          image: '{{ prometheus_webhook_snmp_container_image_path }}'
          ports:
            - containerPort: 9099
          env:
            - name: SNMP_COMMUNITY
              value: "{{ servicetelemetry_vars.alerting.alertmanager.receivers.snmp_traps.community }}"
            - name: SNMP_RETRIES
              value: "{{ servicetelemetry_vars.alerting.alertmanager.receivers.snmp_traps.retries }}"
            - name: SNMP_HOST
              value: "{{ servicetelemetry_vars.alerting.alertmanager.receivers.snmp_traps.target }}"
            - name: SNMP_PORT
              value: "{{ servicetelemetry_vars.alerting.alertmanager.receivers.snmp_traps.port }}"
            - name: SNMP_TIMEOUT
              value: "{{ servicetelemetry_vars.alerting.alertmanager.receivers.snmp_traps.port }}"
            - name: ALERT_OID_LABEL
              value: "{{ servicetelemetry_vars.alerting.alertmanager.receivers.snmp_traps.alert_oid_label }}"
            - name: TRAP_OID_PREFIX
              value: "{{ servicetelemetry_vars.alerting.alertmanager.receivers.snmp_traps.trap_oid_prefix }}"
            - name: TRAP_DEFAULT_OID
              value: "{{ servicetelemetry_vars.alerting.alertmanager.receivers.snmp_traps.trap_default_oid }}"
            - name: TRAP_DEFAULT_SEVERITY
              value: "{{ servicetelemetry_vars.alerting.alertmanager.receivers.snmp_traps.trap_default_severity }}"
