apiVersion: v1
kind: Service
metadata:
  name: '{{ ansible_operator_meta.name}}-prometheus-webhook-snmp'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  selector:
    app: '{{ ansible_operator_meta.name }}-snmp-webhook'
  ports:
    - protocol: TCP
      port: 9099
      targetPort: 9099
