apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: '{{ ansible_operator_meta.name }}-alertmanager-proxy'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  port:
    targetPort: web
  to:
    kind: Service
    name: '{{ ansible_operator_meta.name }}-alertmanager-proxy'
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: Reencrypt
