apiVersion: v1
kind: Service
metadata:
  name: '{{ meta.name }}-prometheus-proxy'
  namespace: '{{ meta.namespace }}'
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: '{{ meta.name }}-prometheus-proxy-tls'
spec:
  ports:
  - name: web
    port: 9092
    targetPort: https
  selector:
    prometheus: {{ meta.name }}
