apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: {{ ansible_operator_meta.name }}-datasources
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  datasources:
{% if servicetelemetry_vars.backends.metrics.prometheus.enabled %}
    - access: proxy
      editable: true
      isDefault: true
      jsonData:
        timeInterval: 5s
        tlsAuthWithCACert: true
      name: STFPrometheus
      type: prometheus
      url: 'https://{{ ansible_operator_meta.name }}-prometheus-proxy.{{ ansible_operator_meta.namespace }}.svc:9092'
      version: 1
      basicAuth: true
      basicAuthUser: internal
      secureJsonData:
        basicAuthPassword: '{{ prom_basicauth_passwd }}'
        tlsCACert: |
          {{ serving_certs_ca.resources[0].data['service-ca.crt'] | indent(10) }}
{% endif %}

{% if servicetelemetry_vars.backends.events.elasticsearch.enabled %}
    - name: es_collectd
      access: proxy
      editable: true
      isDefault: false
      url: {{ servicetelemetry_vars.backends.events.elasticsearch.forwarding.host_url }}
      type: elasticsearch
      basicAuth: {{ servicetelemetry_vars.backends.events.elasticsearch.forwarding.use_basic_auth }}
      basicAuthUser: {{ elastic_user }}
      basicAuthPassword: {{ elastic_pass }}
      database: collectd_*
      jsonData:
        tlsSkipVerify: true
        timeField: generated
        esVersion: 70

    - name: es_ceilometer
      access: proxy
      editable: true
      isDefault: false
      url: {{ servicetelemetry_vars.backends.events.elasticsearch.forwarding.host_url }}
      type: elasticsearch
      basicAuth: {{ servicetelemetry_vars.backends.events.elasticsearch.forwarding.use_basic_auth }}
      basicAuthUser: {{ elastic_user }}
      basicAuthPassword: {{ elastic_pass }}
      database: ceilometer_*
      jsonData:
        tlsSkipVerify: true
        timeField: generated
        esVersion: 70
{% endif %}

{% if servicetelemetry_vars.backends.logs.loki.enabled %}
    - access: proxy
      editable: true
      isDefault: false
      name: STFLoki
      type: loki
      url: 'http://loki-query-frontend-http-lokistack:3100'
      version: 1
{% endif %}
  name: {{ ansible_operator_meta.name }}-ds-stf.yaml
