apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  labels:
    alertmanager: '{{ meta.name }}'
  name: '{{ meta.name }}'
  namespace: '{{ meta.namespace }}'
spec:
  replicas: {{ servicetelemetry_vars.alerting.alertmanager.deployment_size }}
  serviceAccountName: prometheus-k8s
  serviceMonitorSelector:
    matchLabels:
      app: smart-gateway
{% if servicetelemetry_vars.alerting.alertmanager.storage.strategy == "persistent" %}
  storage:
    class: {{ servicetelemetry_vars.alerting.alertmanager.storage.persistent.storage_class }}
    resources: {{ servicetelemetry_vars.alerting.alertmanager.storage.persistent.storage_resources }}
    selector: {{ servicetelemetry_vars.alerting.alertmanager.storage.persistent.storage_selector }}
    volumeClaimTemplate:
      spec:
        resources:
          requests:
            storage: {{ servicetelemetry_vars.alerting.alertmanager.storage.persistent.pvc_storage_request }}
{% endif %}
