apiVersion: smartgateway.infra.watch/v2
kind: SmartGateway
metadata:
  name: {{ this_smartgateway }}
  namespace: {{ ansible_operator_meta.namespace }}
spec:
{% if this_collector.debug_enabled is defined and this_collector.debug_enabled %}
  logLevel: debug
{% else %}
  logLevel: info
{% endif %}
  handleErrors: true
  size: {{ smartgateway_deployment_size }}
  applications:
  - config: |
      hostURL: {{ elasticsearch.forwarding.host_url }}
      useTLS: {{ elasticsearch.forwarding.use_tls }}
      tlsClientCert: /config/certs/user.crt
      tlsClientKey: /config/certs/user.key
      tlsCaCert: /config/certs/ca.crt
      tlsServerName: {{ (elasticsearch.forwarding.tls_server_name != "") | ternary(elasticsearch.forwarding.tls_server_name, elasticsearch.forwarding.host_url.rpartition("//")[-1].partition(":")[0]) }}
      tlsSecretName: {{ elasticsearch.forwarding.tls_secret_name }}
      user: {{ elastic_user | default('elastic') }}
      password: {{ elastic_pass | default('') }}
      useBasicAuth: {{ elasticsearch.forwarding.use_basic_auth }}
    name: elasticsearch
  bridge:
    amqpUrl: amqp://{{ ansible_operator_meta.name }}-interconnect.{{ ansible_operator_meta.namespace }}.svc.cluster.local:5673/{{ this_collector.subscription_address }}
    ringBufferSize: {{ this_collector.bridge.ring_buffer_size | default(16384) }}
    ringBufferCount: {{ this_collector.bridge.ring_buffer_count | default(15000) }}
    verbose: {{ this_collector.bridge.verbose | default(false) }}
  transports:
  - config: |
      path: /tmp/smartgateway
    handlers:
    - config: ""
      name: events
      strictSource: {{ this_collector.collector_type }}
    name: socket
