- name: Lookup ElasticSearch BasicAuth
  k8s_facts:
    api_version: v1
    kind: Secret
    namespace: '{{ meta.namespace }}'
    name: 'elasticsearch-es-elastic-user'
  register: elasticsearch_es_elastic_user

- name: Filter out ElasticSearch password for BasicAuth
  set_fact:
    elastic_pass: "{{ elasticsearch_es_elastic_user | json_query('resources[].data.elastic') | b64decode }}"
  no_log: true

- name: Create default Events Smart Gateway manifest
  set_fact:
    smartgateway_events_manifest: |
      apiVersion: smartgateway.infra.watch/v2alpha1
      kind: SmartGateway
      metadata:
        name: '{{ meta.name }}-notification'
        namespace: '{{ meta.namespace }}'
      spec:
        size: 1
        amqp_url: '{{ meta.name }}-interconnect.{{ meta.namespace }}.svc.cluster.local:5672/collectd/notify'
        service_type: 'events'
        debug: 'false'
        elastic_url: 'https://elasticsearch-es-http.{{ meta.namespace }}.svc.cluster.local:9200'
        use_basic_auth: 'true'
        elastic_user: '{{ elastic_user }}'
        elastic_pass: '{{ elastic_pass }}'
        container_image_path: 'quay.io/redhat-service-assurance/smart-gateway:latest'
        use_tls: 'true'
        tls_client_cert: /config/certs/tls.crt
        tls_client_key: /config/certs/tls.key
        tls_ca_cert: /config/certs/ca.crt
        tls_server_name: 'elasticsearch-es-http.{{ meta.namespace }}.svc.cluster.local'
        reset_index: 'true'
  when: smartgateway_events_manifest is not defined

- name: Deploy instance of Smart Gateway for Events
  k8s:
    definition:
      '{{ smartgateway_events_manifest }}'
