Interval 1

LoadPlugin "logfile"
<Plugin "logfile">
  LogLevel "debug"
  File stdout
  Timestamp true
</Plugin>

LoadPlugin cpu
LoadPlugin amqp1
<Plugin "amqp1">
  <Transport "name">
    Host "saf-default-interconnect"
    Port "5672"
    Address "collectd"
    <Instance "telemetry">
        Format JSON
        PreSettle true
    </Instance>
    <Instance "notify">
        Format JSON
        PreSettle false
        Notify true
    </Instance>
  </Transport>
</Plugin>

LoadPlugin interface
<Plugin interface>
  IgnoreSelected true
  ReportInactive true
</Plugin>

LoadPlugin threshold
<Plugin threshold>
  <Plugin "interface">
    Instance "lo"
    <Type "if_octets">
      FailureMax 0
      DataSource "rx"
      Persist true
      PersistOK true
    </Type>
  </Plugin>
</Plugin>
