apiVersion: batch/v1
kind: Job
metadata:
  name: stf-smoketest-<<CLOUDNAME>>
spec:
  parallelism: 1
  completions: 1
spec:
  template:
    metadata:
      labels:
        app: stf-smoketest
    spec:
      restartPolicy: Never
      containers:
      - name: smoketest-collectd
        image: tripleomaster/centos-binary-collectd:current-tripleo-rdo
        command:
        - /smoketest_collectd_entrypoint.sh
        env:
        - name: CLOUDNAME
          value: <<CLOUDNAME>>
        - name: ELASTICSEARCH_AUTH_PASS
          value: <<ELASTICSEARCH_AUTH_PASS>>
        volumeMounts:
        - name: collectd-config
          mountPath: /etc/minimal-collectd.conf.template
          subPath: minimal-collectd.conf.template
        - name: collectd-entrypoint-script
          mountPath: /smoketest_collectd_entrypoint.sh
          subPath: smoketest_collectd_entrypoint.sh
      - name: smoketest-ceilometer
        image: tripleomaster/centos-binary-ceilometer-notification:current-tripleo-rdo
        command:
        - /smoketest_ceilometer_entrypoint.sh
        env:
        - name: CLOUDNAME
          value: <<CLOUDNAME>>
        - name: ELASTICSEARCH_AUTH_PASS
          value: <<ELASTICSEARCH_AUTH_PASS>>
        volumeMounts:
        - name: ceilometer-publisher
          mountPath: /publisher
          subPath: ceilometer_publisher
        - name: ceilometer-entrypoint-script
          mountPath: /smoketest_ceilometer_entrypoint.sh
          subPath: smoketest_ceilometer_entrypoint.sh
      volumes:
      - name: collectd-config
        configMap:
          name: stf-smoketest-collectd-config
      - name: collectd-entrypoint-script
        configMap:
          name: stf-smoketest-collectd-entrypoint-script
          defaultMode: 0555
      - name: ceilometer-publisher
        configMap:
          name: stf-smoketest-ceilometer-publisher
      - name: ceilometer-entrypoint-script
        configMap:
          name: stf-smoketest-ceilometer-entrypoint-script
          defaultMode: 0555
