apiVersion: batch/v1
kind: Job
metadata:
  name: stf-smoketest-<<CLOUDNAME>>
spec:
  parallelism: 1
  completions: 1
spec:
  template:
    metadata:
      labels:
        app: stf-smoketest
    spec:
      restartPolicy: Never
      containers:
      - name: smoketest
        image: tripleomaster/centos-binary-collectd:current-tripleo-rdo
        command:
        - /smoketest_entrypoint.sh
        env:
        - name: CLOUDNAME
          value: <<CLOUDNAME>>
        - name: ELASTICSEARCH_AUTH_PASS
          value: <<ELASTICSEARCH_AUTH_PASS>>
        volumeMounts:
        - name: collectd-config
          mountPath: /etc/minimal-collectd.conf.template
          subPath: minimal-collectd.conf.template
        - name: entrypoint-script
          mountPath: /smoketest_entrypoint.sh
          subPath: smoketest_entrypoint.sh
      volumes:
      - name: collectd-config
        configMap:
          name: stf-smoketest-collectd-config
      - name: entrypoint-script
        configMap:
          name: stf-smoketest-entrypoint-script
          defaultMode: 0555
