apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "infra.watch/v1beta1",
          "kind": "ServiceTelemetry",
          "metadata": {
            "name": "default"
          },
          "spec": {
            "alerting": {
              "alertmanager": {
                "receivers": {
                  "snmpTraps": {
                    "enabled": false,
                    "target": "192.168.24.254"
                  }
                },
                "storage": {
                  "persistent": {
                    "pvcStorageRequest": "20G"
                  },
                  "strategy": "persistent"
                }
              },
              "enabled": true
            },
            "backends": {
              "events": {
                "elasticsearch": {
                  "enabled": false,
                  "storage": {
                    "persistent": {
                      "pvcStorageRequest": "20Gi"
                    },
                    "strategy": "persistent"
                  },
                  "version": "7.16.1"
                }
              },
              "logs": {
                "loki": {
                  "enabled": false,
                  "flavor": "1x.extra-small",
                  "replicationFactor": 1,
                  "storage": {
                    "objectStorageSecret": "test",
                    "storageClass": "standard"
                  }
                }
              },
              "metrics": {
                "prometheus": {
                  "enabled": true,
                  "scrapeInterval": "10s",
                  "storage": {
                    "persistent": {
                      "pvcStorageRequest": "20G"
                    },
                    "retention": "24h",
                    "strategy": "persistent"
                  }
                }
              }
            },
            "clouds": [
              {
                "events": {
                  "collectors": [
                    {
                      "bridge": {
                        "ringBufferCount": 15000,
                        "ringBufferSize": 16384,
                        "verbose": false
                      },
                      "collectorType": "collectd",
                      "debugEnabled": false,
                      "subscriptionAddress": "collectd/cloud1-notify"
                    },
                    {
                      "bridge": {
                        "ringBufferCount": 15000,
                        "ringBufferSize": 16384,
                        "verbose": false
                      },
                      "collectorType": "ceilometer",
                      "debugEnabled": false,
                      "subscriptionAddress": "anycast/ceilometer/cloud1-event.sample"
                    }
                  ]
                },
                "metrics": {
                  "collectors": [
                    {
                      "bridge": {
                        "ringBufferCount": 15000,
                        "ringBufferSize": 16384,
                        "verbose": false
                      },
                      "collectorType": "collectd",
                      "debugEnabled": false,
                      "subscriptionAddress": "collectd/cloud1-telemetry"
                    },
                    {
                      "bridge": {
                        "ringBufferCount": 15000,
                        "ringBufferSize": 16384,
                        "verbose": false
                      },
                      "collectorType": "ceilometer",
                      "debugEnabled": false,
                      "subscriptionAddress": "anycast/ceilometer/cloud1-metering.sample"
                    },
                    {
                      "bridge": {
                        "ringBufferCount": 15000,
                        "ringBufferSize": 16384,
                        "verbose": false
                      },
                      "collectorType": "sensubility",
                      "debugEnabled": false,
                      "subscriptionAddress": "sensubility/cloud1-telemetry"
                    }
                  ]
                },
                "name": "cloud1"
              }
            ],
            "graphing": {
              "enabled": false,
              "grafana": {
                "adminPassword": "secret",
                "adminUser": "root",
                "disableSignoutMenu": false,
                "ingressEnabled": false
              }
            },
            "highAvailability": {
              "enabled": false
            },
            "observabilityStrategy": "use_community",
            "transports": {
              "qdr": {
                "enabled": true,
                "web": {
                  "enabled": false
                }
              }
            }
          }
        }
      ]
    capabilities: Basic Install
    categories: Monitoring
    certified: "false"
    containerImage: <<OPERATOR_IMAGE>>:<<OPERATOR_TAG>>
    createdAt: <<CREATED_DATE>>
    description: Service Telemetry Framework. Umbrella Operator for instantiating
      the required dependencies and configuration of various components to build a
      Service Telemetry platform for telco grade monitoring.
    olm.properties: '[{"type": "olm.maxOpenShiftVersion", "value": "4.8"}]'
    olm.skipRange: '>=<<BUNDLE_OLM_SKIP_RANGE_LOWER_BOUND>> <<<OPERATOR_BUNDLE_VERSION>>'
    operatorframework.io/suggested-namespace: service-telemetry
    operators.operatorframework.io/builder: operator-sdk-v0.19.4
    operators.operatorframework.io/project_layout: ansible
    repository: https://github.com/infrawatch/service-telemetry-operator
    support: Red Hat
  name: service-telemetry-operator.v1.99.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Represents an instance of the Service Telemetry Framework
      displayName: STF Cluster
      kind: ServiceTelemetry
      name: servicetelemetrys.infra.watch
      resources:
      - kind: Pods
        name: ""
        version: v1
      - kind: ConfigMaps
        name: ""
        version: v1
      - kind: ServiceTelemetrys
        name: servicetelemetrys.infra.watch
        version: v1beta1
      - kind: ReplicaSets
        name: ""
        version: v1
      - kind: Deployments
        name: ""
        version: v1
      - kind: Services
        name: ""
        version: v1
      - kind: ServiceMonitors
        name: servicemonitors.monitoring.coreos.com
        version: v1
      version: v1beta1
    required:
    - description: Creation of Smart Gateways
      displayName: Smart Gateway
      kind: SmartGateway
      name: smartgateways.smartgateway.infra.watch
      version: v2
  description: Service Telemetry Operator for monitoring clouds
  displayName: Service Telemetry Operator
  icon:
  - base64data: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIgogICB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIKICAgaWQ9Ikljb25zIgogICB2aWV3Qm94PSIwIDAgMTI4IDEyOCIKICAgdmVyc2lvbj0iMS4xIgogICBzb2RpcG9kaTpkb2NuYW1lPSJJY29uLVJlZF9IYXQtRGlhZ3JhbXMtR3JhcGhfQXJyb3dfVXAtQi1CbGFjay1SR0Iuc3ZnIgogICB3aWR0aD0iMTI4IgogICBoZWlnaHQ9IjEyOCIKICAgaW5rc2NhcGU6dmVyc2lvbj0iMS4wYmV0YTIgKHVua25vd24pIj4KICA8bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGE2NiI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgICA8ZGM6dGl0bGU+SWNvbi1SZWRfSGF0LURpYWdyYW1zLUdyYXBoX0Fycm93X1VwXzEtQi1CbGFjay1SR0I8L2RjOnRpdGxlPgogICAgICA8L2NjOldvcms+CiAgICA8L3JkZjpSREY+CiAgPC9tZXRhZGF0YT4KICA8ZGVmcwogICAgIGlkPSJkZWZzNjQiIC8+CiAgPHNvZGlwb2RpOm5hbWVkdmlldwogICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIKICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIKICAgICBpbmtzY2FwZTpkb2N1bWVudC1yb3RhdGlvbj0iMCIKICAgICBib3JkZXJvcGFjaXR5PSIxIgogICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiCiAgICAgZ3JpZHRvbGVyYW5jZT0iMTAiCiAgICAgZ3VpZGV0b2xlcmFuY2U9IjEwIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIgogICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSIxOTIwIgogICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjEwNjIiCiAgICAgaWQ9Im5hbWVkdmlldzYyIgogICAgIHNob3dncmlkPSJmYWxzZSIKICAgICBpbmtzY2FwZTp6b29tPSI0LjM4MDEzMzciCiAgICAgaW5rc2NhcGU6Y3g9IjkwLjc4Njg1IgogICAgIGlua3NjYXBlOmN5PSI1OS42NDgxNDMiCiAgICAgaW5rc2NhcGU6d2luZG93LXg9IjM4NDAiCiAgICAgaW5rc2NhcGU6d2luZG93LXk9IjE4IgogICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjAiCiAgICAgaW5rc2NhcGU6Y3VycmVudC1sYXllcj0iSWNvbnMiIC8+CiAgPHRpdGxlCiAgICAgaWQ9InRpdGxlNTciPkljb24tUmVkX0hhdC1EaWFncmFtcy1HcmFwaF9BcnJvd19VcF8xLUItQmxhY2stUkdCPC90aXRsZT4KICA8cGF0aAogICAgIHN0eWxlPSJzdHJva2Utd2lkdGg6NC44MjU2NiIKICAgICBkPSJtIDEyNi44MTUzNiwyOS42MTY4NzUgYSAzLjYxOTI1ODgsMy42MTkyNTg4IDAgMCAwIC01LjExNTIyLDAgbCAtMy40NzQ0OCwzLjQ3NDQ4OSBWIDEwLjg0NDk4OCBBIDMuNjY3NTE1NiwzLjY2NzUxNTYgMCAwIDAgMTE0LjYwNjM5LDcuMzcwNDk5MyBIIDguNDQxNDc2OSBBIDMuNjE5MjU4OCwzLjYxOTI1ODggMCAwIDAgNC44MjIyMTgyLDEwLjg0NDk4OCBWIDkxLjYyNjg0IGwgLTMuNzY0MDI4NywzLjY2NzUxNiBhIDMuNjE5MjU4OCwzLjYxOTI1ODggMCAwIDAgMi41NTc2MDk1LDYuMTc2ODc0IDMuNTcxMDAxOSwzLjU3MTAwMTkgMCAwIDAgMS4yMDY0MTkyLC0wLjI0MTI4IHYgMTUuNzc5OTYgYSAzLjU3MTAwMTksMy41NzEwMDE5IDAgMCAwIDMuNjE5MjU4NywzLjYxOTI2IEggMTE0LjYwNjM5IGEgMy42MTkyNTg4LDMuNjE5MjU4OCAwIDAgMCAzLjYxOTI3LC0zLjYxOTI2IFYgNDMuMjI1Mjg4IGwgOC41ODk3LC04LjI1MTkwOSBhIDMuNjE5MjU4OCwzLjYxOTI1ODggMCAwIDAgMCwtNS4zNTY1MDQgeiBNIDU3LjkwNDY3NSw2My45Mjc0NDcgViAyNS4zMjIwMjIgYSAzLjYxOTI1OTksMy42MTkyNTk5IDAgMCAxIDcuMjM4NTE5LDAgdiAzOC42MDU0MjUgYSAzLjYxOTI1OTksMy42MTkyNTk5IDAgMCAxIC03LjIzODUxOSwwIHogTSA4Ni44NTg3NDYsNDQuNjI0NzM0IFYgMjUuMzIyMDIyIGEgMy42MTkyNTg4LDMuNjE5MjU4OCAwIDAgMSA3LjIzODUxNSwwIHYgMTkuMzAyNzEyIGEgMy42MTkyNTg4LDMuNjE5MjU4OCAwIDEgMSAtNy4yMzg1MTUsMCB6IE0gMzYuMTg5MTI4LDI1LjMyMjAyMiB2IDE5LjMwMjcxMiBhIDMuNjE5MjU5LDMuNjE5MjU5IDAgMSAxIC03LjIzODUxOCwwIFYgMjUuMzIyMDIyIGEgMy42MTkyNTksMy42MTkyNTkgMCAwIDEgNy4yMzg1MTgsMCB6IE0gMTEwLjk4NzE0LDExMy4zOTA2NSBIIDEyLjA2MDczNiBWIDk0LjYxODc2MSBsIDI0Ljk5NzAxMywtMjQuNTE0NDQzIDI0LjEyODM4OCwyNC4xMjgzOSBhIDMuMDg4NDM0MSwzLjA4ODQzNDEgMCAwIDAgMS4yMDY0MTcsMC43MjM4NTEgaCAwLjQzNDMxNCBhIDQuODI1Njc4Myw0LjgyNTY3ODMgMCAwIDAgMC45NjUxMzYsMC4yNDEyODEgMi4yNjgwNjg3LDIuMjY4MDY4NyAwIDAgMCAwLjc3MjEwOCwwIHYgMCBhIDMuMzc3OTc0OCwzLjM3Nzk3NDggMCAwIDAgMS41OTI0NzUsLTAuODIwMzY0IHYgMCBMIDExMC42NDkzMyw1MC4zNjcyOTUgWiIKICAgICBpZD0icGF0aDU5IgogICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiIC8+Cjwvc3ZnPgo=
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          - clusterrolebindings
          verbs:
          - create
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        - apiGroups:
          - security.openshift.io
          resourceNames:
          - nonroot
          resources:
          - securitycontextconstraints
          verbs:
          - use
        - apiGroups:
          - ""
          resources:
          - nodes/metrics
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - get
        - nonResourceURLs:
          - /metrics
          verbs:
          - get
        serviceAccountName: service-telemetry-operator
      deployments:
      - name: service-telemetry-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: service-telemetry-operator
          strategy: {}
          template:
            metadata:
              labels:
                name: service-telemetry-operator
            spec:
              containers:
              - env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: service-telemetry-operator
                - name: ANSIBLE_GATHERING
                  value: explicit
                - name: RELATED_IMAGE_PROMETHEUS_WEBHOOK_SNMP_IMAGE
                  value: <<RELATED_IMAGE_PROMETHEUS_WEBHOOK_SNMP>>:<<RELATED_IMAGE_PROMETHEUS_WEBHOOK_SNMP_TAG>>
                image: <<OPERATOR_IMAGE>>:<<OPERATOR_TAG>>
                imagePullPolicy: Always
                name: operator
                resources: {}
                volumeMounts:
                - mountPath: /tmp/ansible-operator/runner
                  name: runner
              serviceAccountName: service-telemetry-operator
              volumes:
              - emptyDir: {}
                name: runner
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - pods
          - services
          - services/finalizers
          - endpoints
          - persistentvolumeclaims
          - events
          - configmaps
          - secrets
          verbs:
          - '*'
        - apiGroups:
          - route.openshift.io
          resources:
          - routes
          verbs:
          - create
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          verbs:
          - create
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - '*'
        - apiGroups:
          - interconnectedcloud.github.io
          - smartgateway.infra.watch
          - monitoring.coreos.com
          - elasticsearch.k8s.elastic.co
          - certmanager.k8s.io
          - integreatly.org
          - loki.openshift.io
          resources:
          - '*'
          verbs:
          - '*'
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - apps
          resourceNames:
          - service-telemetry-operator
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - replicasets
          verbs:
          - get
        - apiGroups:
          - infra.watch
          resources:
          - '*'
          verbs:
          - '*'
        serviceAccountName: service-telemetry-operator
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - servicetelemetry
  - monitoring
  - telemetry
  - notifications
  - telecommunications
  links:
  - name: Source Code
    url: https://github.com/infrawatch/service-telemetry-operator
  - name: Documentation
    url: <<OPERATOR_DOCUMENTATION_URL>>
  maintainers:
  - email: support@redhat.com
    name: Red Hat
  maturity: beta
  minKubeVersion: 1.20.0
  provider:
    name: Red Hat
  version: 1.99.0
