---
tripleo_heat_templates:
    []

custom_templates:
    resource_registry:
        OS::TripleO::Services::Collectd: /usr/share/openstack-tripleo-heat-templates/deployment/metrics/collectd-container-puppet.yaml

    parameter_defaults:
        ExtraConfig:
            qdr::router_id: "%{::hostname}.<<CLOUD_NAME>>"

        MetricsQdrConnectors:
            - host: <<AMQP_HOST>>
              port: <<AMQP_PORT>>
              role: edge
              verifyHostname: false
              sslProfile: sslProfile

        MetricsQdrSSLProfiles:
            - name: sslProfile
              caCertFileContent: |
                <<CA_CERT_FILE_CONTENT>>

        CeilometerQdrMetricsConfig:
            driver: amqp
            topic: <<CLOUD_NAME>>-metering

        CollectdAmqpInstances:
            <<CLOUD_NAME>>-telemetry:
                format: JSON
                presettle: false

        CollectdSensubilityResultsChannel: sensubility/<<CLOUD_NAME>>-telemetry

        # --- below here, extended configuration for environment beyond what is documented in stable-1.3
        CollectdSensubilityLogLevel: DEBUG
